
body { 
    background-color: blanchedalmond; 
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;

  } 
  
  p {
font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  
  h2 {
    font-size:larger;
    font-style: italic;
  }
  h3 {
    font-size:larger;
    font-style: italic;
  }
  h4 {
    font-size:larger;
    font-style: italic;
  }
  h5 {
    font-size:larger;
    font-style: italic;
  }
  h6 {
    font-size:larger;
    font-style: italic;
  }

